@import url('utilities.css');


.service li{
  list-style:inside;
}

#logo-nav{
    width: 198px;
    height: 85px;
  }
  
  .primary-header{
    padding-top: var(--size-600);
  }
  
  .nav-wrapper{
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  
  .mobile-nav-toggle{
    display: none;
  }
  
  .nav-list{
    display: flex;
    gap: clamp(var(--size-400), 5vw, var(--size-700));
    font-size: var(--fs-nav);
    font-weight: var(--fw-bold);
  }
  
  .nav-list a{
    color:var(--clr-primary-400);
    text-decoration: none;
    transition: color 150ms ease-in-out;
  }
  
  .nav-list a:hover,
  .nav-list a:focus {
    color:var(--clr-accent-400);
  }
  
  
  @media(max-width: 50em){
    #logo-nav{
      width: 114px;
      height: 49px;
    }
  
    .primary-header[data-overlay]{
      position: relative;
      z-index: 999;
    }
  
    .primary-navigation{
      display: none;
      position: fixed;
      
      padding: var(--size-700);
      inset: 7rem var(--size-400) auto;
      max-width: 25rem;
      margin-left: auto;
      background: var(--clr-neutral-100);
      border-radius: var(--size-100);
  
      box-shadow: 0 0 .75em rgb(0, 0, 0, 0.05);
    }
  
    .primary-header[data-overlay]::before{
      content: '';
      position: fixed;
      inset: 0;
      background-image: linear-gradient(rgb(0 0 0 / 0),rgb(0 0 0 / 0.8));
    }
  
    .nav-list{
      display: grid;
      gap: var(--size-600);
      text-align: center;
      font-weight: var(--fw-bold);
    }
  
    .nav-list a{
      color:var(--clr-primary-400);
      text-decoration: none;
    }
    
    .nav-list a:hover,
    .nav-list a:focus {
      color:var(--clr-accent-400);
    }
    
  
    .primary-navigation[data-visible]{
      display: block;
    }
  
  
    .mobile-nav-toggle{
      display: block;
      position: fixed;
      top: var(--size-500);
      right: var(--size-400);
      z-index: 999;
      
      cursor: pointer;
      background: transparent;
      border: 0;
      padding: .5em;
      width: 1.5rem;
      aspect-ratio: 1;
      
      background-image: url("../images/icon-hamburger.svg");
      background-repeat: no-repeat;
      background-size: contain;
      background-position: center;
  
      transition: background-image 200ms ease-in-out;
    }
  
    .mobile-nav-toggle[aria-expended="true"]{
      background-image: url("../images/icon-close-hm.svg");
    }
  
  }
  

  /*  final header - navbar*/

  /* customizing primary heading */
  @media (max-width: 50em){
    .fs-primary-heading{
      font-size: var(--fs-700);
      text-align: center;
    }
  }

  /* services */

  .service{
    --width: 65.9375rem ;
    height: fit-content;
    background: var(--clr-neutral-200);
    border-radius: 20px;

    max-width: var(--width);


    display: flex;
    flex-direction: column;
    gap:var(--size-600);
    padding-block:var(--size-500);
    padding-inline:var(--size-400);

    font-weight: var(--fw-bold);
    color: var(--clr-primary-550);

    /*delete after*/
    margin-inline: 3%;
    /*/*/
  }
  @media(min-width:50em){
    .service{
      flex-direction: row;
      padding-inline: var(--size-600);
      justify-content: space-around;
    }
  }
  .service-done{
    border-bottom: 8px solid green;
  }
  .service-cancel{
    border-bottom: 8px solid var(--clr-danger-500);
  }
  .service-scheduled{
    border-bottom: 8px solid var(--clr-primary-550);
  }
  .service-in-progress{
    border-bottom: 8px solid var(--clr-accent-400);
  }

  @media(max-width:50em){
    .service-wrapper{
      display: block;
    }
  }

.wrapper-s-history{
  display: flex;
  justify-content: space-between;
}

@media(min-width:50em){
  .wrapper-s-history{
    flex-direction: column;
  }
  .card-wrapper #cancel-field{
    margin-block: 20% ;
  }
}